* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:black;
    color:white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color:rgb(172, 168, 168);
    padding: 20px;
    margin: 10px;
    width: 30%; 
    border: 1px solid black;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%; 
    }
}

@media (max-width: 768px) {
    section {
        width: 100%; 
    }
}
